language: node_js
node_js:
- 8
after_success:
- echo 'node_modules' > .gitignore
deploy:
  provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  on:
    branch: master
env:
  global:
    secure: DID98zIok0VlKOcQgKrgvjMO0JvTHOnxTQtk/l6BpqfxS8J7CZsnIvF+YJSyRLgNTSQUYfn+Wlspw/PZ+/HFOgSZkejjV8MOTJSY+/b3k6cAcbLj6rHaPdUAQYfFhHFr72EkJJzcmXqiku1fbTV44OHEhzmaRL05xHguWsQHMLU3CpoTk7p2rW8mQIpUDTlTfjRgTYjwwf15VpBYVP4zk4K742DD06HLMY6Fbx/SoJhpJtqZlC9W3GVG4PL40Uwqv8oLIvJKRNRApSlUPQzjykkGvZZ4jhVT9mui9wPWcHnbjPplW4oL4e10nUddpBX4u6KUTJvDAlgTjeHbX9MnF1lF+zbRTugjOuXQ0/Py7EyvwJ38iwYnLMiefp1sZtpGhXnL77dhowyA8DaE6CrRTn/pAlpTVMd7iGwD17etan/fdoxzHgK+wpj4b4k5r69RQddKxb8ejwwBrDVfg0+OkzFgj98DWwkwHY7KPMnmaF1OOUQ4+binJ6xstPo3qfDxFWVaFcEBshslM7u7lDIdJyaDQxn+deQUDH0N8DTEyHQNoaZ3dLI7kBB0207aF1+GSX7wDmBOZQmTb0nVRIgYQ1YUzqrvmdWPF3w6V0wOizt2AcxLs6JH85Xbjn0QEMic43FEda8A2/3gSQoS/cc1RtDF50hHQPeRP4qT+TIS8Ow=
